<hr>
<section>
<div class="container">

	
		<div class="row mbr-justify-content-center">

            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-volume-up fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">15 days trial </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">100% refund if errors are found</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-calendar fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Warranty Policy
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">1 to 1 replacement warranty</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-globe fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">FREE SHIPPING
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Free ship nationwide</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-trophy fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Online support 24/7 </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Always hear your comments</p>
                    </div>
                </div>
            </div>

            

            
        </div>

</div>

</section>
<link rel="stylesheet" href="/stylesheets/footer.css">