<hr>
<div class="row footer centered" id="bottomRow">
    <div class="col">
        <div class="homeBottom">
            <div class="titleBlock">
                <p align="center">Contact us right now</p>
            </div>
            <div class="blockContent">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-md-3">
                        <div class="boxService">
                            <div class="itemImage"><img class="img-responsive" alt="Hãy chọn chúng tôi"
                                    src="//theme.hstatic.net/1000080424/1000374528/14/icon_service1.png?v=619" /></div>
                            <h4 class="itemHeading"> 15 days trial  </h4>
                            <div class="itemDesc">100% refund if errors are found </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="boxService">
                            <div class="itemImage"><img class="img-responsive" alt="Hãy chọn chúng tôi"
                                    src="//theme.hstatic.net/1000080424/1000374528/14/icon_service2.png?v=619" /></div>
                            <h4 class="itemHeading">FREE SHIPPING</h4>
                            <div class="itemDesc">Free ship nationwide </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="boxService">
                            <div class="itemImage"><img class="img-responsive" alt="Hãy chọn chúng tôi"
                                    src="//theme.hstatic.net/1000080424/1000374528/14/icon_service4.png?v=619" /></div>
                            <h4 class="itemHeading">Warranty Policy </h4>
                            <div class="itemDesc">1 to 1 replacement warranty</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="boxService">
                            <div class="itemImage"><img class="img-responsive" alt="Hãy chọn chúng tôi"
                                    src="//theme.hstatic.net/1000080424/1000374528/14/icon_service3.png?v=619" /></div>
                            <h4 class="itemHeading">Online support 24/7 </h4>
                            <div class="itemDesc">Always hear your comments</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


