<hr>
<div class="row footer centered" id="bottomRow">
    <div class="col">
        <div class="homeBottom">
            <div class="titleBlock">
                <p align="center">Hãy chọn chúng tôi</p>
            </div>
            <div class="blockContent">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-md-3">
                        <div class="boxService">
                            <div class="itemImage"><img class="img-responsive" alt="Hãy chọn chúng tôi"
                                    src="//theme.hstatic.net/1000080424/1000374528/14/icon_service1.png?v=619" /></div>
                            <h4 class="itemHeading">15 Ngày dùng thử </h4>
                            <div class="itemDesc">Hoàn tiền 100% nếu phát hiện lỗi </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="boxService">
                            <div class="itemImage"><img class="img-responsive" alt="Hãy chọn chúng tôi"
                                    src="//theme.hstatic.net/1000080424/1000374528/14/icon_service2.png?v=619" /></div>
                            <h4 class="itemHeading">FREE SHIPPING</h4>
                            <div class="itemDesc">Miễn phí ship toàn quốc </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="boxService">
                            <div class="itemImage"><img class="img-responsive" alt="Hãy chọn chúng tôi"
                                    src="//theme.hstatic.net/1000080424/1000374528/14/icon_service3.png?v=619" /></div>
                            <h4 class="itemHeading">Bảo hành 1 đổi 1 </h4>
                            <div class="itemDesc">1 đổi 1 từ 3-6 tháng</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="boxService">
                            <div class="itemImage"><img class="img-responsive" alt="Hãy chọn chúng tôi"
                                    src="//theme.hstatic.net/1000080424/1000374528/14/icon_service4.png?v=619" /></div>
                            <h4 class="itemHeading">Hỗ trợ 24/7 </h4>
                            <div class="itemDesc">Cam kết sp nguyên bản 100%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>