<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">SKYPHONE</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/san-pham">Sản phẩm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tin-tuc"></i> Tin tức</a>
      </li>
    </ul>

    <div class="btn-group">
      <a href="/shopping-cart/" class="btn btn-secondary" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-shopping-cart " aria-haspopup="true"> Giỏ Hàng
          <span class="badge">{{session.cart.totalQty}}</span>
        </i></a>
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i>
        Quản lý
      </button>
      <div class="dropdown-menu dropdown-menu-right col">
        {{#if login }}
        <a href="/user/profile" class="btn" role="button">Tài khoản</a>
        <li role="separator" class="divider"></li>
        <a href="/user/logout" class="btn" role="button">Đăng xuất</a>
        {{else}}
        <a href="/user/signup" class="btn" role="button">Đăng ký</a>
        <a href="/user/signin" class="btn" role="button">Đăng nhập</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>