.thumbnail img {
  max-height: 200px;
  padding: 20px;
}
.carouselExampleControls {
  max-height: 150px;
}



#menu {
  display: block;
  width: 300px;
  height: 400px;
  padding: 25px;
  padding-top: 75px;
  margin-right: 150px;
}

.menuTitle {
  position: relative;
  z-index: 2;
  margin: 0px;
  padding: 10px 18px 12px;
  color: #fff;
  background-color: #333333;
  border-top: 4px solid cadetblue;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.Title {
  position: relative;
  z-index: 2;
  margin: 0px;
  padding: 10px 18px 12px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  border: 1px solid black;
  text-align: center;
}
.Title a {
  color: black;
}

#row2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.price {
  font-weight: bold;
  color: red;
}

.titleBlock {
  text-transform: uppercase;
  color: red;
  font-weight: bold;
}

#bottomRow {
  line-height: 50px;
  padding-left: 50px;
}
.cc-img {
  margin: 0 auto;
}
.carousel-item {
  height: 90vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.itemImage {
  padding-left: 60px;
}

.hidden {
  display: none;
  visibility: hidden;
} 
